{
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  },
  "presets": [
    "es2015"
  ],
  "plugins": [
    ["babel-plugin-transform-builtin-extend", {
      "globals": [
        "Array"
      ]
    }],
    "add-module-exports",
    "transform-runtime"
  ],
  "only": [
    "src/",
    "test/",
    "jasmine.js"
  ]
}
