{
  "extends": [
    "eslint:recommended"
  ],
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module",
    "parser": "babel-eslint"
  },
  "plugins": [
    "babel",
    "markdown"
  ],
  "rules": {
    "valid-jsdoc": ["error", {
      "requireParamDescription": false,
      "requireReturnDescription": false
    }]
  }
}
